{
  "env": {
    "test": {
      "presets": [
        ["latest"]
      ],
    }
  },
  "presets": [
    ["latest", {"loose": true, "modules": false}]
  ],
  "plugins": [
    "transform-regenerator",
    "syntax-jsx",
    ["inferno", {"imports": true}]
  ]
}
