{
  "env": {
    "test": {
      "presets": [
        ["es2015"]
      ],
    }
  },
  "presets": [
    ["es2015", {"loose": true, "modules": false}]
  ],
  "plugins": [
    "babel-plugin-syntax-jsx",
    ["babel-plugin-inferno", {"imports": true}]
  ]
}
