{
  "extends": ["airbnb-base", "plugin:inferno/recommended"],
  "env": {
    "browser": true
  },
  "plugins": [
    "inferno"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "extensions": [".js", ".jsx", ".json"]
          }
        }
      }
    }
  },
  "rules": {
    "inferno/prop-types": "off"
  }
}
